@import url(../../assets/styles/fonts.css);
@import url(../../assets/styles/reset.css);

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 140%;
  font-weight: 400;
  color: #000;
  background-color: transparent;
  font-family: Roboto, Verdana, sans-serif;
}
._lock {
  overflow: hidden;
}
header,
footer {
  color: #fff;
  background-color: #111115;
  text-align: center;
}
.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}
.active-menu-item {
  cursor: default;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
nav a {
  cursor: pointer;
}
nav a:hover,
.logo:hover {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-color: #e47209;
}
.logo:hover:before {
  background: url(../../assets/icons/bamboo_hover.svg) 50% no-repeat;
  cursor: pointer;
}
button {
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 140%;
}
.button1 {
  width: 100%;
  max-width: 298px;
  font-weight: 500;
  color: #fff;
  border-radius: 25px;
  padding: 16px 1px 16px 5px;
}
.button2 {
  width: 100%;
  max-width: 298px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  padding: 16px 1px 16px 5px;
}
.button3 {
  font-weight: 400;
  background: #f1f3f2;
  border-radius: 5px;
  padding: 9px 39px;
}
.button3_color_default {
  color: #000;
  border: 1px solid #333b41;
}
.button3_color_default:active {
  color: #4b9200;
  border-color: #4b9200;
}
.button_color_default {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.button_color_default:hover {
  background: #e47209;
}
.button_color_default:active {
  background: #4b9200;
}
.button_disabled,
.button_disabled:hover,
.button_disabled:active {
  background: #767474;
  cursor: pointer;
}
.button_mistake,
.button_mistake:active {
  color: #d31414;
  border-color: #d31414;
}

/* 1600px */
/* header section */
.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
header {
  position: relative;
  z-index: 2;
}
header .wrapper {
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 82px;
  border: 1px solid #fff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 120%;
  line-height: 23px;
  display: inline-block;
  padding: 2px;
  position: relative;
}
.logo:before {
  position: absolute;
  left: 12px;
  bottom: 6px;
  content: '';
  background: url(../../assets/icons/bamboo.svg) 50% no-repeat;
  width: 7px;
  height: 21px;
  display: inline-block;
}
.burger_icon {
  display: none;
}
.menu {
  flex: 1;
}
.menu_body {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 63px;
}
.menu_body ul {
  display: flex;
  justify-content: space-between;
}
.menu_body a {
  font-weight: 500;
  margin-right: 58px;
}
.menu_body li:last-of-type a {
  margin-right: 0;
}

/* watch section */
.watch {
  height: 387px;
  position: relative;
}
.watch:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: url(../../assets/images/panda_bg_donate_1600.jpg) 50% no-repeat;
  background-size: cover;
  z-index: -1;
}

/* donate section */
.donate {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  color: #333b41;
  padding-bottom: 180px;
  padding-top: 40px;
}
.donate h2 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 120%;
}
.donate h3 {
  font-size: 3.6rem;
  font-weight: normal;
  line-height: 130%;
}
.donate h2,
.donate h3 {
  color: #fe9013;
}
.info {
  margin-bottom: 47px;
}
.info h3,
.info p {
  color: #fff;
}
.info p {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 135%;
}
.info + h3 {
  margin-bottom: 60px;
}
.pick {
  background: rgba(255, 255, 255, 0.52);
  border-radius: 20px;
  padding: 40px 92px 46px;

  text-align: center;
}
.pick h2 {
  margin-left: -13px;
}
.pick h2 + p {
  margin-top: 21px;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}
.petDiet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 48px;
  padding-right: 14px;
}
.petDiet span:nth-of-type(1) {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 80%;
  padding-left: 0px;
  padding-top: 56px;
  padding-bottom: 10px;
  color: #000;
}
.petDiet div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.petDiet div:last-child {
  margin-left: 90px;
}
.petDiet div:first-child:after {
  content: url(../../assets/icons/x_icon.svg);
  position: absolute;
  right: -25px;
  top: 53%;
}
.amount > p {
  margin-bottom: 16px;
  text-align: left;
  padding-left: 5px;
}
.chose_amount {
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
  height: 26px;
  background-color: #72828e;
  border: 12px solid #404950;
  border-radius: 2px;
  border-left-width: 30px;
  border-right-width: 30px;
}
.chose_amount input {
  border: 1px solid yellow;
  display: none;
  cursor: pointer;
}
.chose_amount label {
  cursor: pointer;
  position: relative;
}
.chose_amount span {
  position: absolute;
  padding: 25px;
  border-radius: 25px;
  transform: translate(-50%, -50%);
}
.chose_amount span::after,
.chose_amount span::before,
.active_amount span::after,
.active_amount span::before {
  border: 2px solid transparent;
}
.chose_amount label:hover span::after,
.chose_amount label:hover span::before,
.active_amount span::after,
.active_amount span::before {
  border: 2px solid #fe9013;
}
.chose_amount label:hover::after,
.active_amount::after {
  color: #fe9013;
}
.chose_amount span::after,
.chose_amount span::before {
  content: '';
  top: 52%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}
.chose_amount span::before {
  width: 23px;
  height: 23px;
  border-radius: 12px;
}
.chose_amount span::after {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.chose_amount label::before {
  position: absolute;
  left: 0;
  top: 1px;
  display: inline-block;
  content: '';
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffee2e;
}
.chose_amount label:after {
  content: attr(data-amount);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -62px;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 140%;
  transition: all 0.2s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.input_price {
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
  box-sizing: border-box;
  background: transparent;
  padding: 10px;
  padding-right: 25px;
  margin-left: -7px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  color: #929699;
  padding-left: 8px;
  outline: none;
}
.input_price_label:after {
  display: block;
  content: '';
  width: 12px;
  height: 20px;
  display: inline-block;
  background: url(../../assets/icons/dollar_input.svg) 50% no-repeat;
  background-size: contain;
  margin-bottom: -5px;
  margin-left: -25px;
}
.period {
  padding-top: 25px;
  padding-right: 5px;
  padding-bottom: 38px;
  margin-left: -10px;
}
.period input {
  display: none;
}
.period label {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid #fe9013;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: -3px;
}
.period input:checked + label {
  background: #fe9013;
}
.period input:checked + label:active,
.period label:active {
  background: #4b9200;
  border-color: #4b9200;
}
.period label:nth-of-type(2) {
  margin-left: 45px;
}
.amount .button1 {
  margin-right: -8px;
}
.button1 + p {
  text-align: center;
  margin-top: 29px;
}

/* footer section */
.footer {
  background-color: #111115;
  color: #fff;
}
.footer .wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 55px;
}
.sub1,
.sub3 {
  display: flex;
  justify-content: space-between;
}
.sub1 {
  margin-bottom: 36px;
  align-items: flex-start;
}
.sub2 {
  margin-bottom: 44px;
}
.sub1 a,
.sub2 a {
  display: block;
  text-align: center;
}
.sub3 {
  align-items: flex-end;
  text-align: left;
}
.sub1 .logo {
  padding-top: 0;
  padding-bottom: 5px;
}
.sub1 .logo::before {
  left: 10px;
  bottom: 5px;
  height: 30px;
  width: 10px;
}
.subscribe h4 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 13px;
  text-align: left;
}
.email {
  box-sizing: border-box;
  background: transparent;
  margin-right: 6px;
  height: 42px;
  color: #bdbdbd;
  padding: 0 9px;
  width: 228px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  position: relative;
  outline: none;
}
.email:valid {
  border: 1px solid #f9804b;
}
.email:invalid {
  border: 1px solid #d31414;
}
.email:active {
  border: 1px solid #4b9200;
}
.email:invalid:focus + button {
  border: 1px solid #d31414;
  color: #d31414;
}
.email + button:active {
  border: 1px solid #4b9200;
  color: #4b9200;
}
.social li {
  margin-top: 11px;
}
.social li:first-child {
  margin-top: 0;
}
.social a:active {
  color: #4b9200;
}
.social a:before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background: url(../../assets/icons/facebook_icon.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
  margin: 0 12px -7px 0;
}
.social li:nth-of-type(2) a:before {
  background: url(../../assets/icons/twitter_icon.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
}
.social li:nth-of-type(3) a:before {
  background: url(../../assets/icons/instagram_icon.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
}
.social li:nth-of-type(4) a:before {
  background: url(../../assets/icons/youtube_icon.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
}
.social a:active:before {
  background: url(../../assets/icons/facebook_icon.svg) 50% no-repeat, #4b9200;
}
.social li:nth-of-type(2) a:active:before {
  background: url(../../assets/icons/twitter_icon.svg) 50% no-repeat, #4b9200;
}
.social li:nth-of-type(3) a:active:before {
  background: url(../../assets/icons/instagram_icon.svg) 50% no-repeat, #4b9200;
}
.social li:nth-of-type(4) a:active:before {
  background: url(../../assets/icons/youtube_icon.svg) 50% no-repeat, #4b9200;
}
.footer_menu {
  position: relative;
  left: 85px;
}
.footer_menu li {
  margin-right: 54px;
  display: inline-block;
}
.copy {
  font-weight: 100;
}
.copy:active p {
  color: #4b9200;
  text-decoration: underline;
}
.copy p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.6rem;
}
.copy p:last-child {
  margin-top: 8px;
  margin-bottom: -1px;
}

@media (max-width: 1350px) {
  /* watch section */
  .watch {
    height: 390px;
  }
  .watch:before {
    background: url(../../assets/images/panda_bg_donate_1000.jpg) 50% no-repeat;
    background-size: cover;
  }
}

@media (max-width: 1250px) {
  /* header section */
  .menu_body li a {
    margin-right: 48px;
  }
  .menu_body li:last-of-type a {
    margin-right: 0;
  }

  /* donate section */
  .donate {
    padding-bottom: 30px;
  }
  .info {
    margin-bottom: 48px;
  }
  .info p {
    margin-top: 31px;
  }
  .info + h3 {
    margin-bottom: 40px;
  }
  .pick {
    padding: 20px 43px 31px;
  }
  .pick h2 + p {
    margin-top: 11px;
    text-align: center;
  }
  .petDiet {
    padding-right: 18px;
  }
  .petDiet > div:nth-of-type(2) {
    margin-left: 90px;
  }
  .amount {
    max-width: 810px;
    margin: 0 auto;
  }
  .amount p:first-child {
    padding-left: 0;
  }
  .chose_amount {
    border-left-width: 15px;
    border-right-width: 15px;
  }
  .chose_amount label:first-child {
    display: none;
  }
  .price {
    padding: 0;
    margin-top: 12px;
  }
  .period {
    padding-top: 24px;
  }

  /* footer section */
  .footer .wrapper {
    padding-top: 40px;
  }
  .subscribe {
    padding-right: 32px;
  }
  .footer_menu {
    left: 80px;
  }
  .footer_menu li {
    margin-right: 44px;
  }
}

@media screen and (max-width: 960px) {
  /* donate section */
  .donate {
    padding-bottom: 47px;
    padding-top: 31px;
  }
  .donate h3 {
    font-size: 24px;
    line-height: 120%;
  }
  .info {
    margin-bottom: 33px;
  }
  .info p {
    margin-top: 19px;
    margin-bottom: 0;
    line-height: 138%;
  }
  .info + h3 {
    font-size: 3.6rem;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .pick {
    padding: 31px 25px 23px;
  }
  .pick h2 {
    margin-bottom: 21px;
    margin-left: 0;
  }
  .pick h2 + p {
    text-align: center;
  }
  .petDiet {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .donate form > p {
    padding-left: 10px;
    margin-bottom: 8px;
  }
  .amount p:first-child {
    padding-left: 10px;
    margin-bottom: 7px;
  }
  .price {
    padding: 0;
  }
  .period {
    padding-top: 32px;
  }
  .period p {
    margin-top: 10px;
  }
}

@media (max-width: 855px) {
  /* header section */
  .menu_body {
    margin-left: 0;
    justify-content: space-around;
  }

  /* footer section */
  .footer .wrapper {
    position: relative;
    padding-top: 12px;
  }
  .sub1 {
    margin-bottom: 32px;
  }
  .sub2 {
    margin-bottom: 67px;
  }
  .subscribe {
    display: none;
  }
  .social {
    position: absolute;
    top: 12px;
    right: 20px;
  }
  .social li {
    margin-bottom: 21px;
  }
  .social span {
    display: none;
  }
  .social a:before {
    margin-right: 0;
  }
  .footer_menu {
    flex: 1;
    left: 0;
    margin-right: 73px;
  }
  .footer_menu ul {
    display: flex;
    justify-content: space-between;
  }
  .footer_menu li {
    margin-right: 0;
  }
}

/* common 640px */
@media (max-width: 755px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* header section */
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  header .wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  header .logo {
    z-index: 5;
    font-size: 1.23rem;
    line-height: 120%;
    width: 47px;
    border: none;
    height: 34px;
    transition: all 0.3s;
  }
  .logo:before {
    left: 6px;
    bottom: 5px;
    width: 5px;
    height: 13px;
  }
  .logo.burger_logo {
    color: #fe9013;
    border-color: #fe9013;
    margin: 10px 0 10px -9px;
    border: 1px solid #fe9013;
    font-size: 1.52rem;
    width: 66px;
    height: auto;
  }
  .burger_logo::before {
    background-image: url(../../assets/icons/burger_bamboo.svg);
    left: 9px;
    bottom: 4px;
    width: 7px;
    min-height: 21px;
  }
  .menu {
    flex: none;
    flex-direction: column;
  }
  .burger_icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 38px;
    height: 34px;
    cursor: pointer;
    border: 10px solid transparent;
    border-bottom-width: 13px;
    border-top-width: 11px;
    padding: 5px;
    right: -10px;
  }
  .burger_icon span,
  .burger_icon::before,
  .burger_icon::after {
    left: 0;
    position: absolute;
    height: 18%;
    width: 100%;
    transition: all 0.3s;
    background-color: #fff;
  }
  .burger_icon::before,
  .burger_icon::after {
    content: '';
  }
  .burger_icon::before {
    top: 0;
  }
  .burger_icon::after {
    bottom: 0;
  }
  header li a {
    margin: 0;
  }
  .burger_icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .burger_icon._active span,
  .burger_icon._active::before,
  .burger_icon._active::after {
    background-color: #fe9013;
  }
  .burger_icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .burger_icon._active::before {
    top: 55%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger_icon._active::after {
    top: 45%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu_body {
    position: fixed;
    top: 0;
    left: -100%;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    color: #333b41;
    align-items: flex-start;
    text-align: left;
    overflow: auto;
    transition: all 0.3s;
  }
  .menu_body ul {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-top: 80px;
    padding-bottom: 25px;
  }
  .menu_body._active::before {
    background-color: #fff;
  }
  .menu_body._active {
    left: 0;
  }
  .menu_body._active a {
    font-weight: 400;
  }
  .menu_body li {
    margin-bottom: 15px;
  }

  /* watch section */
  .watch {
    height: 336px;
    margin-top: 33px;
  }
  .watch:before {
    background-position-x: -125px;
  }

  /* donate section */
  .donate {
    padding-bottom: 45px;
  }
  .pick {
    padding-left: 0;
    padding-right: 0;
  }
  .chose_amount {
    border-left-width: 40px;
    border-right-width: 40px;
  }
  .chose_amount label:nth-of-type(2),
  .chose_amount label:nth-of-type(3) {
    display: none;
  }
  .donate ul.price {
    margin-top: 7px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 58px;
  }
  .input_price {
    width: 180px;
    height: 42px;
  }
  .period {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .amount .button1 {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  /* donate section */
  .donate {
    padding-top: 30px;
    padding-bottom: 21px;
  }
  .info {
    width: 99%;
  }
  .info h3 {
    margin-top: 0;
    line-height: 120%;
  }
  .info p {
    margin-top: 20px;
    line-height: 137%;
  }
  .info + h3 {
    font-size: 24px;
  }
  .pick {
    padding-top: 20px;
    padding-bottom: 11px;
  }
  .pick h2 {
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 9px;
  }
  .pick h2 + p {
    font-size: 16px;
    line-height: 140%;
    margin-top: 0;
  }
  .petDiet {
    padding-right: 0;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .petDiet span:nth-of-type(1) {
    font-size: 40px;
    padding-top: 38px;
    padding-bottom: 2px;
  }
  .petDiet span:nth-of-type(2) {
    font-size: 9px;
  }
  .petDiet div:first-child::after {
    content: url(../../assets/icons/x_icon_mobile.svg);
    top: 46%;
    right: -15px;
  }
  .petDiet img {
    width: 160px;
  }
  .petDiet > div:nth-of-type(2) {
    margin-left: 50px;
  }
  .donate form > p {
    padding-left: 0;
    margin-bottom: 10px;
  }
  .amount p:first-child {
    padding-left: 0;
    margin-bottom: 8px;
  }
  .chose_amount {
    height: 13px;
    border-width: 6px;
    border-right-width: 20px;
    border-left-width: 20px;
    margin-bottom: 48px;
  }
  .chose_amount span {
    padding: 15px;
  }
  .chose_amount label::before {
    width: 5px;
    height: 5px;
    border-radius: 3px;
  }
  .chose_amount span::after,
  .chose_amount span::before {
    top: 53%;
  }
  .chose_amount span::before {
    width: 11px;
    height: 11px;
    border-radius: 6px;
  }
  .chose_amount span::after {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
  .chose_amount span::after,
  .chose_amount span::before,
  .active_amount span::after,
  .active_amount span::before {
    border: 1px solid transparent;
  }
  .chose_amount label:hover span::after,
  .chose_amount label:hover span::before,
  .active_amount span::after,
  .active_amount span::before {
    border: 1px solid #fe9013;
  }
  .chose_amount label:after {
    bottom: -30px;
    font-size: 1.3rem;
  }
  .period {
    padding-top: 23px;
    padding-bottom: 28px;
    margin-left: 0;
    padding-right: 18px;
  }
  .period label {
    margin-right: 5px;
  }
  .button1 + p {
    letter-spacing: -0.02rem;
  }
}

@media (max-width: 550px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* header section */
  .logo.burger_logo {
    margin-left: 0px;
  }

  /* watch section */
  .watch {
    top: 0;
    margin-top: 33px;
    height: 188px;
  }
  .watch:before {
    background: url(../../assets/images/panda_bg_donate_320.jpg) 50% no-repeat;
    background-size: cover;
  }

  /* footer section */
  .footer .wrapper {
    padding-top: 20px;
  }
  .footer .logo {
    text-align: center;
    border: none;
    width: 135px;
    margin: 0 auto;
  }
  .footer .logo::before {
    left: 75px;
  }
  .sub1 {
    margin-bottom: 39px;
    flex-direction: column;
    align-items: center;
  }
  .subscribe {
    display: block;
    text-align: center;
    padding-right: 0;
    margin-top: 90px;
  }
  .subscribe h4 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    margin-bottom: 10px;
  }
  .email {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .social {
    top: 73px;
    min-width: 195px;
    left: 50%;
    transform: translateX(-50%);
  }
  .social ul {
    display: flex;
    justify-content: space-between;
  }
  .social li {
    margin: 0;
  }
  .sub3 {
    flex-direction: column-reverse;
  }
  .sub2 {
    margin-bottom: 40px;
  }
  .sub2 a {
    margin: 0 auto;
  }
  .copy {
    margin-bottom: 40px;
  }
  .copy p {
    font-size: 1.5rem;
    line-height: 120%;
  }
  .copy p:last-child {
    margin-top: 13px;
  }
  .footer_menu {
    margin-right: 0;
    width: 100%;
    padding: 0 11px;
  }
}
